body{
    background-image: url(https://media.istockphoto.com/id/650655146/photo/catering-food-wedding-event-table.jpg?s=612x612&w=0&k=20&c=ATGYgW8bM_559jJ5aUNO4HlJqpkOWUmNNMMflx5kajo=);
    background-size: cover;
}
h2,p{
color: aliceblue;
text-align: center;
padding: 20px;
}
p